<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:jdbc="http://www.springframework.org/schema/jdbc"
xmlns:jee="http://www.springframework.org/schema/jee"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd">

   <!-- 扫描包，自动注入bean -->
   <context:component-scan base-package="com.newer.phone" />
  
  <util:properties id="propsReader" location="classpath:resouce/jdbc.properties"/>
  
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" 
  destroy-method="close">
    <property name="driverClass" value="#{propsReader[driver]}"/>
    <property name="jdbcUrl" value="#{propsReader[url]}"/>
    <property name="user" value="#{propsReader[username]}"/>
    <property name="password" value="#{propsReader[password]}"/>
    <!-- 池中最小个数-->
    <property name="minPoolSize" value="2"/>
    <!--池中最大个数-->
    <property name="maxPoolSize" value="20"/>
    <!--一次连接最多可执行 SQL 语句个数-->
    <property name="maxStatements" value="100"/>
<!--     超时设置 (毫秒)
    <property name="checkoutTimeout" value="1800"/> -->
    <!-- 自动增长个数-->
    <property name="acquireIncrement" value="2"/>
  </bean>
  <!-- 事务管理 -->
  <bean id="transactionManager" 
  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"></property>
  </bean>
  <tx:annotation-driven transaction-manager="transactionManager"/>
  
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
      <property name="mapperLocations" value="classpath:com/newer/phone/dao/*.xml"></property> 

		<!-- pageHelper 分页插件 -->
	<property name="plugins">
   	<array>
     	<bean class="com.github.pagehelper.PageHelper">
       		<property name="properties">
         		<value>
          			 dialect=mysql
           			rowBoundsWithCount=true
         		</value>
       		</property>
    	 </bean>
   </array>
	</property>
  </bean>
  
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="com.newer.phone.dao"/>
  </bean>
  
	  
  <!-- 分页查询 -->
<!--     <beans>
  <bean class = "com.github.pagehelper.PageHelper">
  	<property name="dialect" value = "mysql"/>
  	<property name="offsetAsPageNum" value = "true"/>
  	<property name="rowBoundsWithCount" value = "true"/>
  	<property name="pageSizeZero" value = "ture"/>
  	<property name="reasonable" value = "false"/>
  	<property name="params" value = "pageNum=start;pageSize=limit;"/>
  	<property name="returnPageInfo" value = "check"/>
  </bean>
  </beans> -->
</beans>