<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.newer.phone.dao.BrandMapper">
    <!-- 添加商品类别 -->
    <insert id="addBrand" parameterType="com.newer.phone.pojo.Brand">
       insert into brand(b_name,b_status,b_logo) values(#{b_name},#{b_status},#{b_logo})
    </insert>
  
    <update id="removeBrand" parameterType="int">
        update brand set b_status=0 where b_id=#{b_id}
    </update>
    
    <select id="getAllBrand" resultMap="brand-result">
       select * from brand;
    </select>
    
    <resultMap type="com.newer.phone.pojo.Brand" id="brand-result">
       <id property="b_id" column="b_id"/>
       <result property="b_name" column="b_name"/>
       <result property="b_status" column="b_status"/>
       <result property="b_logo" column="b_logo"/>
    </resultMap>
  </mapper>