<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.newer.phone.dao.OrdersMapper">
  
     <!-- 根据当前用户id和订单id来删除此订单 -->
     <delete id="removeOrderById">
        delete from orders where o_id=#{o_id} and u_id=#{u_id}
     </delete>
     
     <!-- 根据当前用户的id来查询该用户的所有订单 -->
     <select id="getOrderByUser" parameterType="int" resultMap="orders-result">
        SELECT p.p_name,p.p_import,p.p_price,p.p_stock,p.p_sale,p.p_info,p.p_status,p.p_image,b.* FROM product p JOIN(
SELECT p_o.`C_AMOUNT`,p_o.`P_ID`,a.*FROM p_o JOIN (SELECT orders.* FROM orders WHERE u_id=#{u_id})a on p_o.`O_ID`=a.o_id)b
ON p.p_id=b.p_id;
     </select>
     
     <!-- ORDERS订单的结果集 -->
     <resultMap type="com.newer.phone.pojo.Orders" id="orders-result">
        <id property="o_id" column="o_id"/>
        <result property="o_total" column="o_total"/>
        <result property="a_province" column="a_province"/>
        <result property="a_city" column="a_city"/>
        <result property="a_street" column="a_street"/>
        <result property="a_recv" column="a_recv"/>
        <result property="a_recvtel" column="a_recvtel"/>
        <result property="o_status" column="o_status"/>
        <result property="o_time" column="o_time"/>
        <association property="user" javaType="com.newer.phone.pojo.User"
         column="u_id" resultMap="user-result"/>
         <collection property="p_os" ofType="com.newer.phone.pojo.P_O"
         resultMap="p_o-result"/>
     </resultMap>
     
     <!-- USER用户的结果集 -->
     <resultMap type="com.newer.phone.pojo.User" id="user-result">
        <id property="u_id" column="u_id"/>
        <result property="u_name" column="u_name"/>
        <result property="u_pwd" column="u_pwd"/>
        <result property="u_nickname" column="u_nickname"/>
        <result property="u_pic" column="u_pic"/>
        <result property="u_card" column="u_card"/>
     </resultMap>
     
     <!-- P_O结果集 -->
     <resultMap type="com.newer.phone.pojo.P_O" id="p_o-result">
        <result property="c_amount" column="c_amount"/>
        <association property="product" javaType="com.newer.phone.pojo.Product" column="p_id"
         resultMap="product-result"/>
        <association property="order" javaType="com.newer.phone.pojo.Orders" column="o_id"
        resultMap="orders-result"/>
     </resultMap>
     
     <!-- 查询所有商品界面简单描述结果集 -->
  	 <resultMap type="com.newer.phone.pojo.Product" id="product-result">
  		<id property="p_id" column="p_id"/>
  		<result property="p_name" column="p_name"/>
  		<result property="p_sale" column="p_sale"/>
  		<result property="p_info" column="p_info"/>
  		<result property="p_price" column="p_price"/>
  		<result property="p_status" column="p_status"/>
  		<result property="p_stock" column="p_stock"/>
  		<result property="p_stock" column="p_stock"/>
  		<result property="p_image" column="p_image"/>
  		<!-- 关联多个回复结果集 -->
  		<collection property="reviews" ofType="com.newer.phone.pojo.Review"
         	resultMap="review-result" />
  	</resultMap>
  	
  	<!-- 图片结果集关联商品 -->
  	<resultMap type="com.newer.phone.pojo.Image" id="image-result">
  		<id property="i_id" column="i_id"/>
  		<result property="i_path" column="i_path"/>
  		<association property="product" column="p_id" javaType="com.newer.phone.pojo.Product" resultMap="product-result"/>
  	</resultMap>
	
	  <!-- 商品评论结果集关联商品结果集以及发表此评论用户的结果集 -->
    <resultMap type="com.newer.phone.pojo.Review" id="review-result">
    	<id property="r_id" column="r_id"/>
    	<result property="r_info" column="r_info"/>
    	<result property="r_time" column="r_time"/>
    	<association property="product" column="p_id" 
    	javaType="com.newer.phone.pojo.Product" resultMap="product-result"/>
    	<association property="user" javaType="com.newer.phone.pojo.User">
    	  <id property="u_id" column="u_id"/>
    	  <result property="u_name" column="u_name"/>
    	</association>
    </resultMap>
     
     <!-- 付款添加订单 -->
     <insert id="addOrders">
        insert into orders(
        o_total,a_province,a_city,a_street,a_recv,a_recvtel,o_status,o_time,u_id)
        values(#{o_total},#{a_province},#{a_city},#{a_street},
        #{a_recv},#{a_recvtel},#{o_status},#{o_time},#{user.u_id})
     </insert>
     
     <select id="findOrder" resultType="java.lang.Integer">
        select max(o_id) o_id from orders
     </select>
     
     <select id = "findAll" resultMap="orders-result">
     	SELECT orders.*,user.u_name FROM orders ,USER WHERE orders.`U_ID` = user.`U_ID` 
     </select>
     
     <select id = "findOne" resultMap="orders-result">
     	SELECT orders.*,user.u_name FROM orders ,USER WHERE o_status = 0 and orders.`U_ID` = user.`U_ID` 
     </select>
     
     <select id = "findTwo" resultMap="orders-result">
     	SELECT orders.*,user.u_name FROM orders ,USER WHERE o_status = 1 and orders.`U_ID` = user.`U_ID` 
     </select>
     
     <select id = "findThree" resultMap="orders-result">
     	SELECT orders.*,user.u_name FROM orders ,USER WHERE o_status = 2 and orders.`U_ID` = user.`U_ID` 
     </select>
     
     <select id = "findFour" resultMap="orders-result">
     	SELECT orders.*,user.u_name FROM orders ,USER WHERE o_status = 3 and orders.`U_ID` = user.`U_ID` 
     </select>
     
     <insert id="addPO">
        insert into p_o values(#{p_id},#{o_id},#{c_amount})
     </insert>
     
     <select id="confirmOrder" parameterType="int" resultMap="orders-result">
         SELECT p.p_name,p.p_import,p.p_price,p.p_stock,p.p_sale,p.p_info,p.p_status,p.p_image,b.* FROM product p JOIN(
SELECT p_o.`C_AMOUNT`,p_o.`P_ID`,a.*FROM p_o JOIN (SELECT orders.* FROM orders WHERE u_id=#{u_id} and o_status=2)a on p_o.`O_ID`=a.o_id)b
ON p.p_id=b.p_id;
     </select>
     
     <insert id="addInform">
         insert into inform values(#{o_id},#{o_status},#{u_id})
     </insert>
     
     <delete id="confirmOk">
        delete from inform where o_id=#{o_id}
     </delete>
     
     <update id="updateStatus">
        update orders set o_status=#{o_status} where o_id=#{o_id}
     </update>
     
     <update id="setInform">
        update inform set o_status=#{o_status} where o_id=#{o_id}
     </update>
  </mapper>