<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.newer.phone.dao.ProductMapper">
  <!-- 查询所有商品界面简单描述结果集 -->
  	 <resultMap type="com.newer.phone.pojo.Product" id="product-result">
  		<id property="p_id" column="p_id"/>
  		<result property="p_name" column="p_name"/>
  		<result property="p_sale" column="p_sale"/>
  		<result property="p_info" column="p_info"/>
  		<result property="p_price" column="p_price"/>
  		<result property="p_status" column="p_status"/>
  		<result property="p_stock" column="p_stock"/>
  		<result property="p_stock" column="p_stock"/>
  		
  		<!-- 关联多个图片结果集 -->
  		<collection property="images" ofType="com.newer.phone.pojo.Image" 
  			resultMap="image-result"/>
  		
  		<!-- 关联多个回复结果集 -->
  		<collection property="reviews" ofType="com.newer.phone.pojo.Review"
         	resultMap="review-result" />
  	</resultMap>
  	
  	<!-- 图片结果集关联商品 -->
  	<resultMap type="com.newer.phone.pojo.Image" id="image-result">
  		<id property="i_id" column="i_id"/>
  		<result property="i_path" column="i_path"/>
  		<association property="product" column="p_id" javaType="com.newer.phone.pojo.Product" resultMap="product-result"/>
  	</resultMap>
	
	  <!-- 商品评论结果集关联商品结果集以及发表此评论用户的结果集 -->
    <resultMap type="com.newer.phone.pojo.Review" id="review-result">
    	<id property="r_id" column="r_id"/>
    	<result property="r_info" column="r_info"/>
    	<result property="r_time" column="r_time"/>
    	<association property="product" column="p_id" 
    	javaType="com.newer.phone.pojo.Product" resultMap="product-result"/>
    	<association property="user" javaType="com.newer.phone.pojo.User">
    	  <id property="u_id" column="u_id"/>
    	  <result property="u_name" column="u_name"/>
    	</association>
    </resultMap>
    
  	<!-- 查询所有商品的sql语句 -->
  	<select id="findAllProduct" resultMap="product-result">
  		select p.p_name,p.p_info,p.p_price,p.p_sale,p.p_status,i.i_path 
  		from product p,image i where p.p_id = i.p_id and p.p_status = 1
  	</select>
  	
  	<!-- 根据商品类别查询商品的sql语句 -->
  	<select id="findByBrand" resultMap="product-result" parameterType="int">
  		select p.p_name,p.p_info,p.p_price,p.p_sale,p.p_status,i.i_path from 
  		product p,image i where p.b_id = #{b_id} and p.p_id = i.p_id and p.p_status = 1 
  	</select>

  	<!-- 根据商品id查询单个商品详细的sql语句 -->
  	<select id="findById" resultMap="product-result" parameterType="int">
  		select b.*,user.u_name,user.u_id from (select a.*,image.i_path,
  		review.u_id,review.r_id,review.r_info,review.r_time from 
		(select * from product where p_id=1 and p_status=1)a,review,image 
		where a.p_id=review.p_id and a.p_id=image.p_id)b join user on user.u_id=b.u_id;
  	</select> 

  </mapper>