<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.newer.phone.dao.ProductMapper">
  <!-- 查询所有商品界面简单描述结果集 -->
  	 <resultMap type="com.newer.phone.pojo.Product" id="product-result">
  		<id property="p_id" column="p_id"/>
  		<result property="p_name" column="p_name"/>
  		<result property="p_sale" column="p_sale"/>
  		<result property="p_info" column="p_info"/>
  		<result property="p_price" column="p_price"/>
  		<result property="p_status" column="p_status"/>
  		<result property="p_stock" column="p_stock"/>
  		<result property="p_image" column="p_image"/>
  		<result property="p_stock" column="p_stock"/>
  		<association property="brand" column="b_id" 
  		javaType="com.newer.phone.pojo.Brand" resultMap="brand-result"/>
  		
  		<!-- 关联多个图片结果集 -->
  		<collection property="images" ofType="com.newer.phone.pojo.Image" 
  			resultMap="image-result"/>
  	</resultMap>
    
    <!-- 图片结果集关联商品 -->
  	<resultMap type="com.newer.phone.pojo.Image" id="image-result">
  		<id property="i_id" column="i_id"/>
  		<result property="i_path" column="i_path"/>
  		<association property="product" column="p_id" javaType="com.newer.phone.pojo.Product" resultMap="product-result"/>
  	</resultMap>
    
    
    <!-- 所有商品品牌的结果集 -->
    <resultMap type="com.newer.phone.pojo.Brand" id="brand-result">
    	<id property="b_id" column="b_id"/>
    	<result property="b_name" column="b_name"/>
    	<result property="b_logo" column="b_logo"/>
    	<result property="b_status" column="b_status"/>
    	<collection property="products" ofType="com.newer.phone.pojo.Product" 
  			resultMap="product-result"/>
    </resultMap>
    
    
    <!-- 查询所有商品品牌的sql语句 -->
    <select id="findAllBrand" resultMap="brand-result">
    	select b_id,b_name,b_logo,b_status from brand where b_status = 1
    </select>

        
  	<!-- 查询所有商品的sql语句  包括模糊搜索以排序-->
  	<select id="findAllProduct" resultMap="product-result">
  		select *
  			from product 
  			where p_status = 1 
  			<if test="p_name != null and p_name != ''">
  			and p_name like #{p_name} 
  		</if>
  		and p_price between #{start} and #{end} 
  		<include refid="orderBy" />
  	</select> 
  	
  	<!-- 根据商品类别查询商品的sql语句  包括排序 -->
  	<select id="findByBrand" resultMap="product-result">
  		select <!-- p.p_id,p.p_name,p.p_info,p.p_price,p.p_sale,p.p_status,p_image,p.b_id
  			from product p --> 
  			* from product
  			where p_status = 1 
  			<!-- 如果传入的id是1 则查询所有。不是1则根据商品品牌的Id查询商品 -->
  		<if test="b_id != 1">
  			and b_id = #{b_id} 
  		</if>
  		<include refid="orderBy" />
  	</select>
  	
  	<sql id="orderBy">
  		order by
  		<choose>
  			<when test="sort == 'p_sale'">p_sale</when>
  			<when test="sort == 'p_price'">p_price</when>
  			<otherwise>p_id</otherwise>
  		</choose>
  		<if test="order == 'asc'">asc</if>
  		<if test="order == 'desc'">desc</if>
  	</sql>

  	<!-- 根据商品id查询单个商品详细的sql语句 -->
  	<select id="findById" resultMap="product-result" parameterType="int">
 		select p.p_id,p.p_name,p.p_sale,p.p_info,p.p_price,p_stock,p_status
 			from product p where p_status = 1 and p_id = #{p_id}
  	</select>
  	
		<!-- 增加商品 -->
  	   <insert id="addProduct" parameterType="com.newer.phone.pojo.Product">
       insert into brand(p_name,p_import,p_price,p_stock,p_sale,p_info,b_id,p_image) 
       values(#{p_name},#{p_import},#{p_price},#{p_stock},#{p_sale},#{p_info}, 
       #{b_id},#{p_image})
    </insert>
    <!-- 修改商品 -->
    <update id = "updateProduct" parameterType="int">
    	update product set p_name = #{p_name},p_import = #{p_import},p_price = #{p_price},
    	p_stock = #{p_stock},p_sale = #{p_sale},p_info = #{p_info},p_status = #{p_status},
    	p_image = #{p_image} where p_id = #{p_id}
    </update>
    <!-- 删除商品 -->
    <update id = "removeProduct" parameterType="int">
    	update product set p_status = 0 where p_id = #{p_id}
    </update>
  </mapper>