<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.newer.phone.dao.UserMapper">

	<!-- 用户个人信息结果集 -->
	<resultMap type="com.newer.phone.pojo.User" id="user-result">
		<id property="u_id" column="u_id" />
		<result property="u_name" column="u_name" />
		<result property="u_pwd" column="u_pwd" />
		<result property="u_nickname" column="u_nickname" />
		<result property="u_pic" column="u_pic" />
		<result property="u_card" column="u_card" />
		<collection property="addresses" ofType="com.newer.phone.pojo.Address"
			resultMap="address-result" />
	</resultMap>

	<!-- 用户地址信息结果集 -->
	<resultMap type="com.newer.phone.pojo.Address" id="address-result">
		<id property="a_id" column="a_id" />
		<result property="a_province" column="a_province" />
		<result property="a_city" column="a_city" />
		<result property="a_street" column="a_street" />
		<result property="a_recv" column="a_recv" />
		<result property="a_recvtel" column="a_recvtel" />
		<association property="user" column="u_id"
			javaType="com.newer.phone.pojo.User" resultMap="user-result" />
	</resultMap>
  
  <!-- 查询数据库中用户是否存在 -->
    <select id="chkUser" resultMap="user-result" parameterType="String">
    	select u_name from USER where u_name = #{u_name}
    </select>
    
    <!-- （用户注册）将用户信息插入数据库中 -->
    <insert id="regUser" parameterType="com.newer.phone.pojo.User">
    	INSERT INTO USER(u_name,u_pwd,u_nickname) 
    	values (#{u_name},#{u_pwd},'new user')   	
    </insert>
    
    <!-- 查询用户是否存在,同时登录后获得用户的信息 -->
    <select id="loginUser" resultMap="user-result" parameterType="com.newer.phone.pojo.User">
    	select * from USER 
    	where u_name = #{u_name} and u_pwd = #{u_pwd} 
    </select>
    
    <!-- 登录后根据用户id获得用户信息 -->
    <select id="getUserInfo" resultMap="user-result" parameterType="com.newer.phone.pojo.User">
    	select * from USER
    	where u_id = #{u_id}
    </select>
    
    <!-- 用户编辑自己的信息 -->
    <update id="updateUser" parameterType="com.newer.phone.pojo.User">
    	UPDATE USER SET u_pwd = #{u_pwd},u_nickname = #{u_nickname},u_card = #{u_card} 
    	WHERE u_id = #{u_id}
    </update>
    
    <!-- 根据用户名查找银行卡 -->
    <select id="getCard" resultMap="user-result" parameterType="com.newer.phone.pojo.User">
    	select u_card from user
    	where u_id = #{u_id}
    </select>
    
    <!-- 用户添加银行卡号 -->
    <update id="addCard" parameterType="com.newer.phone.pojo.User">
    	update user set u_card = #{u_card}
    	where u_id = #{u_id}
    </update>
    
    <!-- 用户查看收货地址 -->
    <select id="getUserAddr" resultMap="address-result" parameterType="com.newer.phone.pojo.Address">
    	select * from address where u_id = #{u_id}
    </select>
    
    <!-- 后台查询所有用户信息 -->
    <select id="findUserAll" resultMap="user-result">
        select * from user;
    </select>
  
    <!-- 后台根据用户id查找用户 -->
    <select id="getUserById" resultType="com.newer.phone.pojo.User" parameterType="int">
       select * from user where u_id=#{u_id}
     </select>

	<!-- 用户增加一个收货地址 -->
	<insert id="addAddr" parameterType="com.newer.phone.pojo.Address">
		INSERT INTO address VALUES 
		(NULL,#{a_province},#{a_city},#{a_street},#{a_recv},#{a_recvtel},#{user.u_id})
	</insert>
	
	<!-- 用户删除一个收货地址 -->
	<delete id="delAddr" parameterType="com.newer.phone.pojo.Address">
		delete from address where a_id = #{a_id}
	</delete>
	
	<!-- 用户上传头像 -->
	<update id="addPic" parameterType="com.newer.phone.pojo.User">
		UPDATE USER SET u_pic = #{u_pic} WHERE u_id = #{u_id}
	</update>
  
  </mapper>