body{
	background-color: #EDEDED;
}

h2{
	margin-left: 2%;
}

li{
    list-style-type: none;
    border-top: 1px solid #EDEDED;
    font-family: Î¢ÈíÑÅºÚ;
}

li:first-child {border-top: none;}

div#leftPanel{
	float: left;
	margin-left: 2%;
	background-color: white;
	height: 530px;
	width: 16%;
}

div#rightPanel{
	float: left;
	margin-left: 3%;
	background-color: white;	
	width: 76%;
	height: auto;
}

