body{
	background-color: #EDEDED;
}

h2{
	margin-left: 2%;
}

li{
    list-style-type: none;
    border-top: 1px solid #EDEDED;
    font-family: Î¢ÈíÑÅºÚ;
}

li:first-child {border-top: none;}

#searchBar{
	background-color: white;
	width: 100%;
	height: 15%;
	position:relative;
}

.search{
	border-radius:10px;
	border: 2px solid #E6E6E6;
	width: 50%;
	height: 40%;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(${pageContext.request.contextPath }/resources/image/test.jpg);
}

div#leftPanel{
	float: left;
	margin-left: 2%;
	background-color: white;
	height: 530px;
	width: 16%;
}

div#rightPanel{
	float: left;
	margin-left: 3%;
	background-color: white;	
	width: 76%;
	height: auto;
}

tr:nth-child(odd) td{  
    width: 150px;
    height: 140px;
    text-align: center;
    border-right: 2px solid #EDEDED;
    border-left: 2px solid #EDEDED;
}  

tr:nth-child(even) td{  
	font-size: 20px;
	border-bottom: 2px solid #EDEDED;
	border-right: 2px solid #EDEDED;
	border-left: 2px solid #EDEDED;
	text-align: center;
}  

img#shopLogo{
	height: 30%;
	width: 18%;
}

td img{
	height: 100%;
	max-width: 100%;
}

